.dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    padding: 0.5rem 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.care{
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0px;
}

.care_section{
	background: #6592e6;
	width: 45%;
	margin: 2.5%;
	border-radius: 15px;
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.01);
	text-align: center;
	padding:15px;
}

.care_section:hover{
	box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.2);
	cursor: pointer;
}

